{% extends 'core/base_login.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="max-w-screen-xl px-2 py-6 mx-auto items-center flex justify-center">
        <div class="max-w-lg w-full">
            <div class="bg-slate-50 dark:bg-slate-800 border  dark:border-slate-700 rounded px-8 py-6 text-center">
                <h2 class="text-2xl font-semibold mb-4 text-slate-700 ">Password Reset Done</h2>
                <p class="mb-4 text-slate-700 dark:text-slate-400">Your password is now changed. Please use the button below to login.</p>
                <a href="{% url 'account_login' %}" class="font-barlow max-w-sm mt-3 rounded-md bg-green-600 px-5 py-3 text-white font-semibold">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}